.pagination {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pagination div.pagination-field {
    display: flex;
    align-items: center;
    height: 56px;
    margin-left: 0;
}

div.pagination-field .select {
    text-align: right;
    width: 100px !important;
}