
#signup .menu {

}

#signup .slider-wrapper .signup-block {
    padding: 15px 0 15px 0;
}


#signup .slider-wrapper .continue-button {
    margin-top: 15px;
}

#signup .slider-wrapper .slick-active {
    opacity: 0.2;
}

#signup .slider-wrapper .slick-active {
    opacity: 1;
}

#signup .menu .disabled {
    opacity: 0.5;
}

.slider-menu {
    position: relative;
    top: 30%;
    transform: translateY(-30%);
}

.slick-slide {
    height: 100vh !important;
}

.signup-block {
    position: relative;
    top: 30%;
    transform: translateY(-30%);
}
