@import '../node_modules/@material/typography/dist/mdc.typography.min.css';

* {
    min-height: 0;
    min-width: 0;
}

body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

#preload-image {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.container-fluid {
    padding: 1rem;
}

.circular-progress-40 {
    left:-20px;
    margin-left: 50%;
    padding: 10px 0 10px 0;
}

p {
    margin: 5px 0 5px 0;
}

p.no-content-info {
    line-height: 30px;
    text-align: center;
    padding: 10px 0 10px 0;
}

p.no-content-info svg {
    vertical-align: middle;
}

.red {
    color: #a94442;
}

.green {
    color: #3c763d;
}

.card-item {

}

.card-item p span {
    color: gray;
    font-weight: normal;
    font-size: 12px;
}

/* Responsive */

@media screen and (max-width: 600px){
    .toolbar-title {
        display: none;
    }

    .hide-mobile { display: none; }
}
